*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Build results and binaries from Gradle
build/
bin/
Erros/
gspd.ispd.externo/
gspd.ispd.externo.cloudSchedulers

# Other Hidden files
.*

# Package Files #
# Until coding iSPD.jav as regular Java
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
